@import "tailwindcss";
@import "sweetalert2/dist/sweetalert2.min.css";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --color-sitePrimary: #ed1c24;
  --animate-sidebarRightSmooth: sidebarRightSmooth 0.3s ease-in-out;
  --animate-sidebarLeftSmooth: sidebarLeftSmooth 0.3s ease-in-out;
  --animate-marquee: marquee 20s linear infinite;
  --animate-marqueeRtl: marqueeRtl 20s linear infinite;

  @keyframes sidebarRightSmooth {
    0% {
      transform: translate(100%);
    }
    100% {
      transform: translate(0%);
    }
  }
  @keyframes sidebarLeftSmooth {
    0% {
      transform: translate(-100%);
    }
    100% {
      transform: translate(0%);
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes marqueeRtl {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

@layer base {
  body {
    @apply font-roboto bg-gray-200/50 text-gray-600;
  }

  *::-webkit-scrollbar {
    @apply w-2 h-1;
  }

  *::-webkit-scrollbar-track {
    @apply bg-gray-200;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-red-500;
  }
}

@layer utilities {
  .scrollbar-thick::-webkit-scrollbar {
    @apply w-1;
  }
  body.noScroll {
    @apply overflow-hidden;
  }
}
